html {
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Jost", "Arial", sans-serif;
  background: #F5F5F5;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
