@mixin bacraund-img($position, $size) {
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin display($iteam, $justify) {
  display: flex;
  align-items: $iteam;
  justify-content: $justify;
}

@mixin before-after($position, $size) {
  content: "";
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin breakpoint-up($size) {
  @media only screen and (max-width: $size) {
  }
}

@mixin btn() {
  position: relative;
  padding: 18px 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  border-radius:10px;
  transition: all 1s ease;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background: white;
    bottom: -4px;
    right: 30px;
    transition: all 1s ease;
  }
  &:hover {
    background: #293bdc;
    color: #ffffff;
    &::before {
      content: "";
      width: 20px;
      height: 5px;
      position: absolute;
      transform: translateX(calc(100% * (-4.7)));
      bottom: -4px;
    }
  }
}
