.address {
  background-color: #293bdc;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &--container {
    margin-top: 100px;
    transform: translateX(35px);
  }
  &__bar_map {
    position: relative;
    width: 100px;
    background: #000000;
  }
  &__img {
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      cursor: pointer;
    }
  }
  &__caption {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    max-width: 400px;
    margin-bottom: 80px;
  }
  &__btn {
    @include btn();
    color: #fff;
    background: #293bdc;
    border: 4px solid #ffffff;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background: #ffffff;
      color: #293bdc;
      &::before {
        transform: translateX(calc(100% * (-10)));
      }
    }
    &::before {
      background: #293bdc;
    }
  }
  &__map_box {
    width: 40%;
    height: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  .address {
    &__map_box {
      width: 45%;
      height: 500px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .address {
    &__caption {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__description {
      font-size: 18px;
      line-height: 150%;
      max-width: 400px;
      margin-bottom: 80px;
    }
    &__bar_map {
      position: relative;
      width: 100px;
      background: #000000;
    }
    &__map_box {
      width: 40%;
      height: 450px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .address {
    &__wrapper {
      @include display(center, center);
      flex-direction: column;
    }
    &--container {
      @include display(center, center);
      flex-direction: column;
      margin-top: 100px;
      transform: translateX(0);
    }
    &__caption {
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
    }
    &__description {
      text-align: center;
      font-size: 18px;
      line-height: 150%;
      max-width: 400px;
      margin-bottom: 50px;
    }
    &__btn {
      font-size: 16px;
      width: 230px;
      padding: 15px 24px;
    }
    &__bar_map {
      display: none;
      position: relative;
      width: 100px;
      background: #000000;
      transform: translate(320%, -430px);
    }
    &__map_box {
      margin-top: 50px;
      width: 100%;
      height: 450px;
    }
  }
}
