.campaign{
  &__text{
    transform: translateY(-150px);
    background: #293BDC;
    padding: 80px;
    max-width: 800px;
  }
  &__caption{
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  &__description{
    max-width: 660px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
  }
  &__wrapper{
    position: relative;
    margin-bottom: 150px;
    @include display(center,space-between);
  }
  &__title{
    font-weight: 700;
    font-size: 48px;
    color: #293BDC;
  }
  &__info{
    max-width: 670px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin-top: 20px;
  }
  &__img{
    position: absolute;
    right: -12.85%;
    top: 0%;
    max-width: 600px;
    height: 420px;
    transform: translateY(-150px);
  }
  &__image{
    margin: 150px 0;
    max-width: 1100px;
  }
  &__headline{
    font-weight: 700;
    font-size: 48px;
    color: #293BDC;
    margin-bottom: 20px;
  }
  &__texts{
    max-width: 640px;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
  }
  &__heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #293BDC;
    max-width: 1250px;
    margin: 150px 0;
  }
}
@media only screen and (max-width:1520px) {
  .campaign{
    &__img{
      position: absolute;
      right: -3.3%;
      top: 0%;
      width: 450px;
      height: 400px;
      transform: translateY(-150px);
    }
  }
}
@media only screen and (max-width:1290px) {
  .campaign{
    &__img{
      position: absolute;
      top: 0%;
      right: 5%;
      width: 350px;
      height: 300px;
      transform: translateY(-150px);
    }
  }
}
@media only screen and (max-width:1140px) {
  .campaign{
    &__text{
      transform: translateY(-150px);
      background: #293BDC;
      padding: 80px;
      max-width: 800px;
    }
    &__caption{
      font-size: 38px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
    &__description{
      max-width: 580px;
      font-size: 18px;
      line-height: 120%;
    }
    &__wrapper{
      position: relative;
      margin-bottom: 150px;
      @include display(center,space-between);
    }
    &__title{
      font-size: 38px;
      color: #293BDC;
    }
    &__info{
      max-width: 600px;
      font-weight: 300;
      font-size: 18px;
      line-height: 120%;
      color: #000000;
      margin-top: 20px;
    }
    &__img{
      position: relative;
      right: 0;
      top: 0%;
      width: 40%;
      height: 350px;
      transform: translateY(0);
    }
    &__image{
      @include display(center,center);
      margin: 150px 0;
      width: 900px;
    }
    &__headline{
      font-size: 38px;
    }
    &__texts{
      max-width: 640px;
      font-size: 18px;
      line-height: 120%;
    }
    &__heading{
      font-size: 38px;
      line-height: 40px;
      max-width: 1250px;
      margin: 150px 0;
    }
  }
}
@media only screen and (max-width:940px) {
  .campaign{
    &--container{
      @include display(center,center);
      flex-direction: column;
    }
    &__text{
      margin: 50px 0;
      transform: translateY(0);
      background: #293BDC;
      padding: 60px;
      max-width: 800px;
    }
    &__caption{
      text-align: center;
      font-size: 28px;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
    &__description{
      text-align: center;
      max-width: 580px;
      font-size: 16px;
      line-height: 120%;
    }
    &__wrapper{
      position: relative;
      margin-bottom: 50px;
      @include display(center,center);
      flex-direction: column-reverse;
    }
    &__title{
      text-align: center;
      font-size: 28px;
      color: #293BDC;
    }
    &__info{
      max-width: 600px;
      font-weight: 300;
      font-size: 18px;
      line-height: 120%;
      color: #000000;
      margin-top: 20px;
    }
    &__img{
      position: relative;
      right: 0;
      top: 0%;
      width: 100%;
      height: 250px;
      transform: translateY(0);
      margin: 50px 0;
    }
    &__image{
      @include display(center,center);
      margin: 50px 0;
      width: 700px;
    }
    &__headline{
      font-size: 28px;
    }
    &__texts{
      text-align: center;
      max-width: 600px;
      font-size: 18px;
      line-height: 120%;
    }
    &__heading{
      text-align: center;
      font-size: 22px;
      line-height: 30px;
      max-width: 1250px;
      margin: 50px 0;
    }
  }
}
@media only screen and (max-width:767px) {
  .campaign{
    &--container{
      @include display(center,center);
      flex-direction: column;
    }
    &__text{
      margin: 50px 0;
      transform: translateY(0);
      background: #293BDC;
      padding: 50px;
      max-width: 700px;
    }
    &__caption{
      font-size: 28px;
      margin-bottom: 10px;
    }
    &__description{
      font-size: 18px;
    }
    &__info{
      text-align: center;
    }
    &__image{
      @include display(center,center);
      margin: 50px 0;
      width: 100%;
    }
    &__headline{
      font-size: 28px;
    }
    &__texts{
      text-align: center;
      max-width: 600px;
      font-size: 14px;
      line-height: 120%;
    }
    &__heading{
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      max-width: 1250px;
      margin: 100px 0;
    }
  }
}
