.prime{
  background-image: url(../images/serverPrime.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  &__wrapper{
    position: relative;
  }
  &__logo{
    margin-top: 50px;
  }
  &__wrap{
    position: absolute;
    width: 100px;
    height: 80vh;
    right: 0;
    top: 0px;
    background: #000000;
  }
  &--img{
    position: absolute;
    right: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

@media only screen and (max-width:767px) {
  .prime{
    height: 40vh;
    &__wrapper{
      position: relative;
    }
    &__logo{
      margin-top: 50px;
      width: 100px;
    }
    &__wrap{
      position: absolute;
      width: 50px;
      height: 40vh;
      right: 0;
      top: 0px;
      background: #000000;
    }
    &--img{
      position: absolute;
      width: 30px;
      height: 30px;
      right: 50%;
      left: 50%;
      top: 20%;
      transform: translate(-50%,-50%);
    }
  }
}